.user {
  &--avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &--name {
    text-align: center;
    font-size: $caption_small;
    margin-right: 10px;
    margin-left: auto;
  }
  &--statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    .data {
      margin: 0 35px;
      text-align: center;
      span {
        display: block;
        &:first-child {
          font-family: $rubik;
          font-weight: 600;
          margin-bottom: 2px;
        }
        &:last-child {
          color: $grey1;
          font-size: $caption_smaller;
        }
      }
    }
  }
  &--post-list {
    &.grid-row {
      grid-template: 1fr / repeat(3, 1fr);
      grid-gap: 3px;
      .card {
        height: calc(100vw / 3 - 0.263vw);
        @media(min-width: 1140px) {
          height: calc(1140px / 3 - 2px);
        }
        &--image {
          height: 100%;
        }
      }
    }
  }
}
.multiple-post {
  position: relative;
  .senu-multiple-image {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 14px;
    height: 14px;
    opacity: .85;
  }
}