//
// family
//
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
$rubik: 'Rubik',
sans-serif;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
//
// size
//
$heading3: 18px;
$title: 16px;
$body_text: 14px;
$caption_small: 12px;
$caption_smaller: 10px;